@import './variables.scss';

body{
    background-color: $bodyBgColor !important;
}
.container-margin-top{
    margin-top: 4.7rem;
}
.page {
    position: absolute;
    left: 0.938rem;
    right:0.938rem;
}
.page-enter {
    opacity: 0;
    transform: scale(1.2);
} 
.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
} 
.page-exit {
    opacity: 1;
    transform: scale(1);
} 
.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.login-container{
    width: 400px;
    margin: calc(100vh - 630px) auto;
    padding: 30px;
    box-shadow: 0px 1px 6px 2px #e6e6e6, 3px 4px 3px #e6e6e6;
    border-radius: 6px;
    background-color: #fff;
    position: relative;

    form{
        .form-group{
            & .form-control{
                height:50px;
                outline:none;
                box-shadow: none;
                border-radius: 10px;
                transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                &:hover{
                    border-color:#444;
                }
            }
        }
        button{
            border-radius: 10px;
        }
    }
    .company-logo{
        width:100px;
        height:100px;
        position: absolute;
        top: -80px;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 0px #e6e6e6, 1px 1px 20px #e6e6e6;
    }

}